.nvimlog

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# direnv
.direnv/

# Secrets vault protection
secrets/vault/
*.age

dotfiles/zed/.config/zed/prompts/
dotfiles/zed/prompts/
dotfiles/zed/conversations/
dotfiles/**/*.bak*
dotfiles/vscode/**/*Storage/
dotfiles/vscode/**/History/
